$fw-800: 800;
$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;
$fw-300: 300;

$desktop: 1500;
$desktop-lg: 1200;
$lg: 992;
$tablet: 768;
$sm: 600;
$phone: 468;

$box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

$manrope: "Manrope", sans-serif;
$roboto: "Roboto", sans-serif;
$lora: "Lora", sans-serif;

$black: #000000;
$black900: #131313;
$black700: #2C2C2C;
$black600: #212529;
$black500: #585858;
$white: #ffffff;

$gray900: #CDCDCD;
$gray800: #C4C4C4;
$gray700: #B6B6B6;
$gray600: #9B9B9B;
$gray100: #585858;

$red800: #EB1716;
$red600: #DF3636;
$red500: #AC3030;
$red400: #A60A0B;
$red300: #7C1C1C;

$brown800: #A97140;