<div class="discounts">
  <div class="container">
    <ul class="discounts__list">
      <li class="discounts__item">
        <img class="discounts__img" src="images/discounts/1.jpg" alt="барбершоп скидка" width="240" height="240">
        <div class="discounts__info">
          <span class="discounts__name">Скидка 20% для студентов</span>
          <span class="discounts__condition">предъяви студенческий</span>
          <p class="discounts__text">
            При предъявлении студенческого билета администратору, ты получишь скидку 20% на все услуги барбершопа Borodach
          </p>
        </div>
      </li>
      <li class="discounts__item">
        <img class="discounts__img" src="images/discounts/2.jpg" alt="барбершоп скидка" width="240" height="240">
        <div class="discounts__info">
          <span class="discounts__name">Скидка 10%</span>
          <span class="discounts__condition">на мужскую стрижку, для тех кто впервые у нас</span>
          <p class="discounts__text">
            У нас действует скидка до 10% на мужскую стрижку по всей сети барбершопов Lucky Frank
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>