<header class="header">
  <button class="btn-menu">
    <span class="btn-menu__line"></span>
    <span class="btn-menu__line"></span>
    <span class="btn-menu__line"></span>
  </button>
  <div class="container">
    <div class="header__inner">
      <a class="logo header__logo" href="index.html">
        <img class="logo__img" src="images/icons/logo.svg" alt="" width="105" height="60">
      </a>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link menu__link--active" href="index.html">Главная</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="about.html">О нас</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="services.html">Услуги</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="gallery.html">Галерея</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="blog.html">Блог</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="contacts.html">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</header>