<section class="info">
  <div class="container">
    <div class="info__inner">
      <h2 class="title">
        Профессиональные барберы для мужчин</h2>
      <div class="info__content">
        <p class="info__text">
          Это мужская парикмахерская, созданная командой профессионалов из России, которые сделают профессионально
          стрижки
        </p>
        <ul class="info__career">
          <li class="info__career-item">
            <span class="info__career-title">Начало с 2016</span>
            <p class="info__career-text">
              В 2016 году в самом центре Сочи на улице Роз 6/6А мы открыли для вас двери нашего барбершопа.
            </p>
          </li>
          <li class="info__career-item">
            <span class="info__career-title">Более 1000 клиентов</span>
            <p class="info__career-text">
              Это настоящее мужское место где чтят традиции и по-настоящему любят своё дело
            </p>
          </li>
        </ul>
        <a class="btn" href="about.html">Читать далее</a>
      </div>
    </div>
  </div>
</section>