<ul class="pagination__list">
  <li class="pagination__item pagination__item--back pagination__item--direction">
    <a class="pagination__link" href="#">Back</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#">1</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#">2</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link pagination__link--active" href="#">3</a>
  </li>
  <li class="pagination__item pagination__item--next pagination__item--direction">
    <a class="pagination__link" href="#">Next</a>
  </li>
</ul>