<form class="subscribe-form" action="#">
  <h3 class="subscribe-form__title">Подпишитесь на нашу рассылку</h3>
  <p class="subscribe-form__text">
    Подпишитесь на еженедельную рассылку специальных предложений и акций
  </p>
  <div class="subscribe-form__data">
    <label class="sr-only" for="email">подписаться на рассылку</label>
    <input class="subscribe-form__field" type="email" placeholder="Введите email" name="email" id="email" required>
    <button class="subscribe-form__btn btn">подписаться</button>
  </div>
</form>