.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    border-radius: 5px;
    transition: opacity 0.3s, box-shadow 0.3s;
    display: flex;

    &:focus {
      box-shadow: 0 0 0 2px $red600;
    }

    &:hover {
      .social__icon {
        fill: $red600;
      }
    }

    &:active {
      box-shadow: none;
      opacity: 0.6;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    fill: $white;
    transition: fill 0.3s;
  }
}